.header {
    display: grid;
    font-size: 18px;
    grid-template-columns: 1fr min-content 1fr;
    align-items: center;
    padding: 92px 50px 96px;
}

.header__links-list {
    list-style: circle;
    display: flex;
    flex-direction: row;
    gap: 32px;
}

.header__link_active {
    text-decoration: underline;
}

.header__links-list-item_no-bullit {
    list-style-type: none;
}

.header__logo {
    display: block;
    height: 105px;
    width: 148px;
}

.address {
    max-width: 240px;
    line-height: 24.3px;
}

.header__address {
    justify-self: end;
}

.cover {
    color: white;
    margin-bottom: 180px;
    background-image: url("../images/cover.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 1;
}

.cover__title {
    position: relative;
    width: 100%;
    z-index: 2;
    padding: 165px 50px 56px;
}

.cover__title-heading {
    font-size: 100px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.3em;
    line-height: 115%;
}

.aligned-text {
    display: block;
}

.aligned-text_center {
    display: block;
    text-align: center;
    margin: 20px 0;
}

.aligned-text_right {
    display: block;
    text-align: right;
}

.no-letter-spacing {
    display: inline;
    letter-spacing: 0;
}

.cover__description {
    display: flex;
    align-items: center;
    padding: 50px;
    position: relative;
    z-index: 2;
}

.cover__description-text {
    font-size: 22px;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 28px;
    word-spacing: 19px;
}

.bet-button {
    margin-left: auto;
    color: white;
    font-size: 22px;
    font-weight: 500;
    text-transform: uppercase;
    background-color: transparent;
    border: 1px solid white;
    padding: 12px 32px;
}

.lots {
    margin: 0 24px 120px 24px;
}

.lots__heading {
    margin: 0 0 27px 40px;
    color: black;
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
}

.lots__card-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 25px;
}

.lots__card-list-item {
    width: 334px;
    min-height: 596px;
}

.card-link {
    height: 100%;
    position: relative;
}

.card {
    height: 100%;
    display: flex;
    position:  relative;
    flex-direction: column;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.card_type_film {
    background-image: url("../images/card-lot-01.jpg");
}

.card_type_book {
    background-image: url("../images/card-lot-02.jpg");
}

.card_type_picture {
    background-image: url("../images/card-lot-03.jpg");
}

.card__title {
    padding: 48px 40px 0;
    z-index: 2;
    color: white;
    font-size: 22px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: underline;
}

.card__text {
    padding: 0 40px 48px;
    z-index: 2;
    color: white;
    font-size: 20px;
    font-weight: 400;
    line-height: 120%;
    margin-top: auto;
}

.lots__look-more-link {
    margin: 30px 0 0 40px;
    color: black;
    font-size: 20px;
    font-weight: 400;
    text-decoration: underline;
}



.about {
    margin: 0 24px 180px 24px;
    display: grid;
    gap: 8px 25px;
    grid-template-columns: 334px 1fr;
}

.about__logo {
    display: flex;
    width: 240px;
    height: 240px;
    background-color: black;
    border-radius: 100%;
    align-items:  center;
    justify-content:  center;
    align-self: center;
    justify-self: center;
    margin-top: 35px;
}

.about__logo-image {
    width: 148px;
    height: 114px;
}

.about__title {
    align-self: center;
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 40px
}

.about__text {
    grid-column: 2;
    grid-row: 2;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
}


.footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    height: 180px;
    font-size: 18px;
    font-weight: 400;
    margin: 0 50px;
}

.footer__menu {
    justify-self: center;
}

.footer__menu-link {
    text-align: center;
    text-decoration: underline;
}

.footer__menu-link_active {
    text-decoration: none;
}

.footer__social-list {
    display: flex;
    gap: 48px;
    justify-self: flex-end;
}

.footer__social-icon {
    width: 48px;
    height: 48px;
}